@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    color: white;
    text-shadow: 3px 3px #262626;
}

h1.title {
    padding: 0%;
    margin: 0px;
    text-align: center;
}

p.description {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p.blog {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:hover {
    color: #B9A3E3;
}

a.blog {
    font-weight: bold;
}

i {
    padding-right: 50px;
    padding-left: 15px;
}

img {
    width: 100%;
    height: auto;
}
